<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>로그인</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" >
  
        <mat-card-content layout="column">
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
  
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">로그인</button>
        <button mat-stroked-button color="accent" routerLink="/join" class="btn-block">회원가입</button>
  
      </form>
    </mat-card>
  </div>