h1{
    text-align: center;
    margin-top:50px;
    margin-bottom:50px;
}

.chart-card{
    width: 45%;
    float: left;
    margin-left: 43px;
}

.chart-card-example{
    width: 21%;
    float: left;
    margin: 10px;
    margin-left: 30px;
}