<div>
  <h1>Chart</h1>

  <mat-card class="chart-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>lineChart</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-line-chart></app-line-chart>
    </mat-card-content>
  </mat-card>
  <mat-card class="chart-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Chart</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-bar-chart></app-bar-chart>
    </mat-card-content>
  </mat-card>

  <mat-card class="chart-card-example">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Chart</mat-card-title>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card class="chart-card-example">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Chart</mat-card-title>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card class="chart-card-example">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Chart</mat-card-title>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
  </mat-card>
</div>